/*
  COLORS:
  #5BC8AC
  #98DBC6
  #E6D27A
  #f18d9e
*/

html {
  font-size: 3vh;
}

body {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
    ),
    url("/static/img/tulips.jpg"),
    #98DBC6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 30rem;
}

a {
  text-decoration: none;
  color: inherit;
}
.navbar {
  height: 3rem;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  color: white;
}
.navbar *:hover {
  color: #f18d9e;;
  transition: color 0.4s;
}
.navbar-link {
  color: white;
  display: inline-block;
  height: 5rem;
  line-height: 5rem;
  margin: 0;
  padding: 0;
  transition: color 0.6s;
  font-size: 1rem;
  text-align: center;
  padding-right: 2rem;
  float: right;
}
.header {
  position: absolute;
  color: white;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 20rem;
  padding: 0;
  margin: 0;
  line-height: 20rem;
  text-align: center;
}
.header span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  max-width: 27rem;
}

.projects {
  position: absolute;
  left: 0;
  top: 30rem;
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  grid-auto-rows: 33vw;
}
.project-div.a {
  background-color: #E6D27A;
}
.project-div.b {
  background-color: #f18d9e;
}
.project-div.c {
  background-color: #5BC8AC;
}
.project-div {
  text-align: center;
  position: relative;
  transition: box-shadow 0.6s;
}
.project-div img {
  position: absolute;
  top: 28%;
  left: 10%;
  width:80%;
  height:44%;
  border-radius: 0.3rem;
}
.project-div .description {
  position: absolute;
  transition: opacity 0.6s;
  opacity: 0;
  bottom: 0;
  padding: 3rem;
  color: white;
  background-color: rgba(0,0,0, 0.3);
}
.project-div:hover .description {
  opacity: 1;
  transition: opacity 0.4s;
}
.project-div:hover {
  box-shadow: 0px 0px 2rem rgba(0,0,0,0.5);
  transition: box-shadow 0.4s;
  z-index: 1000;
}
@media only screen and (max-width: 768px){
  html {
    font-size: 4.35vw;
  }
  .header span {
    width: 90%;
  }
  .projects {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100vw;
  }
  .project-div .description {
    opacity: 1;
  }
}
