
<html>

<head>
    <link rel="stylesheet" href={{url_for("lsystemy.static", filename="style.css")}}>
    <title>L-Systemy</title>
</head>

<body>
    <div class="main">
        <h1>Interpreter L-systemów</h1>
        <canvas id="canvas" width="500px" height="500px"></canvas>
        <br><br>
        <table>
            <tr>
                <td class="label">aksjomat:</td>
                <td><input id="aksjomat" value="F+F+F"></td>
                <td rowspan="2" colspan="2" style="width:100px"><button class="ok_button" onclick="rysuj()">OK!</button></td>
            </tr>
            <tr>
                <td class="label">reguła:</td>
                <td><input id="regula" value="F: F+F-F-F+F"></td>
            </tr>
            <tr>
                <td class="label">krok:</td>
                <td><input class="slider" id="krok" type="range" min="0" max="50" value="50"></td>
                <td style="width: 50px;"><div class="value_text" id="krok_text">50px</div></td>
                <td><button class="control_button" onclick="krok_minus()">-</button><button class="control_button" onclick="krok_plus()">+</button></td>
            </tr>
            <tr>
                <td class="label">kąt:</td>
                <td><input class="slider" id="kat" type="range" min="0" max="360" step="0.5" value="120"></td>
                <td><div class="value_text" id="kat_text">120°</div></td>
                <td><button class="control_button" onclick="kat_minus()">-</button><button class="control_button" onclick="kat_plus()">+</button></td>
            </tr>
            <tr>
                <td class="label">x:</td>
                <td><input class="slider" id="x" type="range" min="0" max="500" value="100"></td>
                <td><div class="value_text" id="x_text">100px</div></td>
                <td><button class="control_button" onclick="x_minus()">-</button><button class="control_button" onclick="x_plus()">+</button></td>
            </tr>
            <tr>
                <td class="label">y:</td>
                <td><input class="slider" id="y" type="range" min="0" max="500" value="100"></td>
                <td><div class="value_text" id="y_text">100px</div></td>
                <td><button class="control_button" onclick="y_minus()">-</button><button class="control_button"  onclick="y_plus()">+</button></td>
            </tr>
            <tr>
                <td class="label">iteracje:</td>
                <td><input class="slider" id="iteracje" type="range" min="0" max="5" value="2"></td>
                <td><div class="value_text" id="iteracje_text">2</div></td>
                <td><button class="control_button" onclick="iteracje_minus()">-</button><button class="control_button" onclick="iteracje_plus()">+</button></td>
            </tr>
        </table>
    </div>
    <footer>
        Autor: Jakub Smolaga
    </footer>
    <script src={{url_for("lsystemy.static", filename="script.js")}}></script>
</body>

</html>
