body {
  background-color: orange;
}

#main_div {
  text-align: center;
}

#header {
  font-weight: bold;
  color: white;
}

#loss {
  font-weight: bold;
  color: white;
  font-size: 25px;
}

footer {
  color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

canvas {
  /*border-radius: 10px;*/
  box-shadow: 0px 5px 30px gray;
}
